**Import packages**

In [1]:
import pandas as pd
import numpy as np

## Part 1
**2.1.1 Read the CSV files from all three categories (Restaurant, Rating and Consumers) and store them separately in Pandas dataframes.**

In [2]:
# Restaurants
chefmozaccepts = pd.read_csv('./Restaurant-data/chefmozaccepts.csv', delimiter=',')
chefmozcuisine = pd.read_csv('./Restaurant-data/chefmozcuisine.csv', delimiter=',')
chefmozhours4 = pd.read_csv('./Restaurant-data/chefmozhours4.csv', delimiter=',')
chefmozparking = pd.read_csv('./Restaurant-data/chefmozparking.csv', delimiter=',')
geoplaces2 = pd.read_csv('./Restaurant-data/geoplaces2.csv', delimiter=',', encoding='latin1')

# Customers
usercuisine = pd.read_csv('./Restaurant-data/usercuisine.csv', delimiter=',')
userpayment = pd.read_csv('./Restaurant-data/userpayment.csv', delimiter=',')
userprofile = pd.read_csv('./Restaurant-data/userprofile.csv', delimiter=',')

# Rating
rating_final = pd.read_csv('./Restaurant-data/rating_final.csv', delimiter=',')

**2.1.2 Clean each data frame:**  
- **chefmozaccepts.csv**

In [3]:
# Checking for null value
chefmozaccepts.isnull().sum(0)

placeID     0
Rpayment    0
dtype: int64

In [4]:
# Checking the unique values in Rpayment
chefmozaccepts.Rpayment.unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Visa', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

We can replace "Visa" by "VISA" since they should be the same value

In [5]:
chefmozaccepts.Rpayment.replace(to_replace='Visa', value='VISA', inplace=True)
chefmozaccepts.Rpayment.unique()

array(['cash', 'VISA', 'MasterCard-Eurocard', 'American_Express',
       'bank_debit_cards', 'checks', 'Discover', 'Carte_Blanche',
       'Diners_Club', 'Japan_Credit_Bureau', 'gift_certificates'],
      dtype=object)

In [6]:
# Checking duplicate values
chefmozaccepts.duplicated().sum()

0

- **chefmozcuisine.csv**

In [7]:
# Checking for null value
chefmozcuisine.isnull().sum(0)

placeID     0
Rcuisine    0
dtype: int64

In [8]:
# Checking duplicate values
chefmozcuisine.duplicated().sum()

0

- **chefmozhours4.csv**

In [9]:
# Checking for null value
chefmozhours4.isnull().sum(0)

placeID    0
hours      0
days       0
dtype: int64

In [10]:
# Checking duplicate values
chefmozhours4.duplicated().sum()

271

In [11]:
# Print some duplicated rows
pd.concat(h for index, h in chefmozhours4.groupby(['placeID', 'hours', 'days']) if len(h) > 1).head(10)

      placeID         hours                  days
2335   132012  12:00-22:00;  Mon;Tue;Wed;Thu;Fri;
2336   132012  12:00-22:00;  Mon;Tue;Wed;Thu;Fri;
2337   132012  12:00-22:00;                  Sat;
2338   132012  12:00-22:00;                  Sat;
2333   132012  12:00-22:00;                  Sun;
2334   132012  12:00-22:00;                  Sun;
2331   132023  11:00-00:00;  Mon;Tue;Wed;Thu;Fri;
2332   132023  11:00-00:00;  Mon;Tue;Wed;Thu;Fri;
2327   132023  11:00-00:00;                  Sat;
2328   132023  11:00-00:00;                  Sat;

In [12]:
# Drop duplicates
chefmozhours4.drop_duplicates(subset=['placeID', 'hours', 'days'], inplace=True)
chefmozhours4.duplicated().sum()

0

- **chefmozparking.csv**

In [13]:
# Checking for null value
chefmozparking.isnull().sum(0)

placeID        0
parking_lot    0
dtype: int64

In [14]:
# Checking duplicate values
chefmozparking.duplicated().sum()

0

- **geoplaces2.csv**

In [15]:
# Checking for null value
geoplaces2.isnull().sum(0)

placeID           0
latitude          0
longitude         0
the_geom_meter    0
name              0
address           0
city              0
state             0
country           0
fax               0
zip               0
alcohol           0
smoking_area      0
dress_code        0
accessibility     0
price             0
url               0
Rambience         0
franchise         0
area              0
other_services    0
dtype: int64

In [16]:
# Replace '?' by NaN
geoplaces2.replace(to_replace='?', value=np.NaN, inplace=True)
# Then checking for null value again
geoplaces2.isnull().sum(0)

placeID             0
latitude            0
longitude           0
the_geom_meter      0
name                0
address            27
city               18
state              18
country            28
fax               130
zip                74
alcohol             0
smoking_area        0
dress_code          0
accessibility       0
price               0
url               116
Rambience           0
franchise           0
area                0
other_services      0
dtype: int64

We drop columns that has a lot of missing data using function `dropna`. We only keep columns that have at least 60% non-missing values, i.e. we will drop columns `fax`, `zip` and `url`.

In [17]:
geoplaces2.dropna(thresh=80, axis=1, inplace=True)
geoplaces2.isnull().sum(0)

placeID            0
latitude           0
longitude          0
the_geom_meter     0
name               0
address           27
city              18
state             18
country           28
alcohol            0
smoking_area       0
dress_code         0
accessibility      0
price              0
Rambience          0
franchise          0
area               0
other_services     0
dtype: int64

Next, we should check for the duplicate values in `country`, `state` and `city`

In [18]:
# Checking the unique values in country
geoplaces2.country.unique()

array(['Mexico', 'mexico', nan], dtype=object)

We see that 'mexico' and 'Mexico' should be the same value. Also, since 'Mexico' is the only one country in the dataset, then we can replace NaN values by 'Mexico' as well. That means we can fill all missing values in `country` by 'Mexico'.

In [19]:
geoplaces2.country.replace(to_replace=['mexico', np.NaN], value=['Mexico', 'Mexico'], inplace=True)
geoplaces2.country.unique()

array(['Mexico'], dtype=object)

In [20]:
# Checking the unique values in state
geoplaces2.state.unique()

array(['Morelos', 's.l.p.', 'San Luis Potosi', 'tamaulipas', 'Tamaulipas',
       'SLP', nan, 'san luis potosi', 'morelos', 'slp', 'mexico',
       'san luis potos', 'S.L.P.'], dtype=object)

From the observations, we can replace 's.l.p.', 'SLP', 'slp', 'S.L.P.', 'san luis potos' and 'san luis potosi' by 'San Luis Potosi'; replace 'tamaulipas' by 'Tamaulipas'; replace 'morelos' by 'Morelos'

In [21]:
geoplaces2.state.replace(to_replace={
    's.l.p.': 'San Luis Potosi',
    'SLP': 'San Luis Potosi',
    'slp': 'San Luis Potosi',
    'S.L.P.': 'San Luis Potosi',
    'san luis potos': 'San Luis Potosi',
    'san luis potosi': 'San Luis Potosi',
    'tamaulipas': 'Tamaulipas',
    'morelos': 'Morelos'
}, inplace=True)
geoplaces2.state.unique()

array(['Morelos', 'San Luis Potosi', 'Tamaulipas', nan, 'mexico'],
      dtype=object)

In [22]:
# Checking the unique values in city
geoplaces2.city.unique()

array(['Cuernavaca', 's.l.p.', 'San Luis Potosi', 'victoria ', 'victoria',
       'Cd Victoria', nan, 'san luis potosi', 'Jiutepec', 'cuernavaca',
       'slp', 'Soledad', 'san luis potos', 'san luis potosi ',
       'Ciudad Victoria', 'Cd. Victoria', 's.l.p'], dtype=object)

We should strip the spaces first

In [23]:
geoplaces2.city = geoplaces2.city.str.strip()
geoplaces2.city.unique()

array(['Cuernavaca', 's.l.p.', 'San Luis Potosi', 'victoria',
       'Cd Victoria', nan, 'san luis potosi', 'Jiutepec', 'cuernavaca',
       'slp', 'Soledad', 'san luis potos', 'Ciudad Victoria',
       'Cd. Victoria', 's.l.p'], dtype=object)

From the observations, we can replace 's.l.p.', 's.l.p', 'slp', 'san luis potosi' and 'san luis potos' by 'San Luis Potosi'; replace 'cuernavaca' by 'Cuernavaca'; replace 'victoria', 'Cd Victoria', 'Cd. Victoria' by 'Ciudad Victoria'

In [24]:
geoplaces2.city.replace(to_replace={
    's.l.p.': 'San Luis Potosi',
    's.l.p': 'San Luis Potosi',
    'slp': 'San Luis Potosi',
    'san luis potos': 'San Luis Potosi',
    'san luis potosi': 'San Luis Potosi',
    'cuernavaca': 'Cuernavaca',
    'victoria': 'Ciudad Victoria',
    'Cd Victoria': 'Ciudad Victoria',
    'Cd. Victoria': 'Ciudad Victoria'
}, inplace=True)
geoplaces2.city.unique()

array(['Cuernavaca', 'San Luis Potosi', 'Ciudad Victoria', nan,
       'Jiutepec', 'Soledad'], dtype=object)

Next, we need to fill the missing values in the columns `address`, `city`, and `state`

In [25]:
geoplaces2.isnull().sum(0)

placeID            0
latitude           0
longitude          0
the_geom_meter     0
name               0
address           27
city              18
state             18
country            0
alcohol            0
smoking_area       0
dress_code         0
accessibility      0
price              0
Rambience          0
franchise          0
area               0
other_services     0
dtype: int64

My idea is the geo-locations that near together will have closed values on latitude and longitude. So we can fill the missing values in the columns `address`, `city`, and `state` by:
  - Sorting the dataframe by ['latitude', 'longitude']
  - Then, using `fillna` with 'ffill' method to propagate the previous value forward

In [26]:
geoplaces2.sort_values(by=['latitude', 'longitude'], inplace=True)
geoplaces2.fillna(method='ffill', inplace=True)
geoplaces2.isnull().sum(0)

placeID           0
latitude          0
longitude         0
the_geom_meter    0
name              0
address           0
city              0
state             0
country           0
alcohol           0
smoking_area      0
dress_code        0
accessibility     0
price             0
Rambience         0
franchise         0
area              0
other_services    0
dtype: int64

In [27]:
# Checking duplicate values
geoplaces2.placeID.duplicated().sum()

0

- **usercuisine.csv**

In [28]:
# Checking for null value
usercuisine.isnull().sum(0)

userID      0
Rcuisine    0
dtype: int64

In [29]:
# Checking duplicate values
usercuisine.duplicated().sum()

0

- **userpayment.csv**

In [30]:
# Checking for null value
userpayment.isnull().sum(0)

userID      0
Upayment    0
dtype: int64

In [31]:
# Checking the unique values in Rcuisine
userpayment.Upayment.unique()

array(['cash', 'bank_debit_cards', 'MasterCard-Eurocard', 'VISA',
       'American_Express'], dtype=object)

In [32]:
# Checking duplicate values
userpayment.duplicated().sum()

0

- **userprofile.csv**

In [33]:
# Checking for null value
userprofile.isnull().sum(0)

userID              0
latitude            0
longitude           0
smoker              0
drink_level         0
dress_preference    0
ambience            0
transport           0
marital_status      0
hijos               0
birth_year          0
interest            0
personality         0
religion            0
activity            0
color               0
weight              0
budget              0
height              0
dtype: int64

In [34]:
# Replace '?' by NaN
userprofile.replace(to_replace='?', value=np.NaN, inplace=True)
# Then checking for null value again
userprofile.isnull().sum(0)

userID               0
latitude             0
longitude            0
smoker               3
drink_level          0
dress_preference     5
ambience             6
transport            7
marital_status       4
hijos               11
birth_year           0
interest             0
personality          0
religion             0
activity             7
color                0
weight               0
budget               7
height               0
dtype: int64

We need to fill the missing values in `smoker`, `dress_preference`, `ambience`, `transport`, `marital_status`, `hijos`, `activity`, and `budget`.

To fill the missing values in `smoker`, we look for the relation between `smoker` and `drink_level` & `religion`

In [35]:
dsr = userprofile.dropna(subset=['smoker']).loc[:, ['drink_level', 'smoker', 'religion']]
# Replace the ['false', 'true'] by [0, 1] to be able to calculate the sum = the number of user who is smoker
dsr.smoker.replace({'false': 0, 'true': 1}, inplace=True)
impute_dsr = dsr.pivot_table(values=['smoker'], index=['religion', 'drink_level'], aggfunc=[sum, len])
impute_dsr

                            sum    len
                         smoker smoker
religion  drink_level
Catholic  abstemious          1     35
          casual drinker      8     33
          social drinker     11     31
Christian abstemious          0      3
          casual drinker      1      3
          social drinker      0      1
Jewish    abstemious          0      1
Mormon    casual drinker      0      1
none      abstemious          0      9
          casual drinker      3     10
          social drinker      2      8

We can observe that: if user's religion is 'Catholic' or 'none' and user's drink level is 'casual drinker' or 'social drinker' then user's smoker can be 'true', and 'false' otherwise

In [36]:
smoker_verifier = userprofile.loc[:, ['drink_level', 'religion']]
smoker = smoker_verifier.apply(
    lambda x: 'true' if (x.religion == 'Catholic' or x.religion == 'none') 
                        and (x.drink_level == 'casual drinker' or x.drink_level == 'social drinker')
                     else 'false', 
    axis=1)
# Fill the missing values in smoker
userprofile.fillna({'smoker': smoker}, inplace=True)
userprofile.smoker.isnull().sum(0)

0

Next, we look for the relation between `marital_status` and `birth_year`

In [37]:
bm = userprofile.dropna(subset=['marital_status']).loc[:, ['birth_year', 'marital_status']]
impute_bm = bm.pivot_table(values=['birth_year'], index=['marital_status'], aggfunc=[min, max, np.mean, len])
impute_bm

                      min        max         mean        len
               birth_year birth_year   birth_year birth_year
marital_status
married              1952       1992  1982.400000         10
single               1930       1994  1985.770492        122
widow                1982       1989  1985.500000          2

Looks like people who was born before 1982 is likely married, and single otherwise. There're just a few widow so we don't take it into account

In [38]:
marital_status_verifier = userprofile.loc[:, ['birth_year']]
marital_status = marital_status_verifier.apply(lambda x: 'married' if x.birth_year <= 1982 else 'single', axis=1)
# Fill the missing values in marital_status
userprofile.fillna({'marital_status': marital_status}, inplace=True)
userprofile.marital_status.isnull().sum(0)

0

Next, we find the relation between `hijos` and `marital_status`

In [39]:
# Check frequencies in hijos
hm = userprofile.dropna(subset=['hijos']).loc[:, ['hijos', 'marital_status']]
hm.hijos.value_counts()

independent    113
kids            11
dependent        3
Name: hijos, dtype: int64

In [40]:
# Replace the hijos value to be able to calculate the mean
hm.hijos.replace({'dependent': 0, 'independent': 1, 'kids': 2}, inplace=True)
hm.groupby(['marital_status']).mean()

                   hijos
marital_status
married         1.600000
single          1.008696
widow           1.500000

We can observe that, if user's married then user hijos is more likely 'kids'; if user is single then user hijos is likely 'independent'; for widow users we can set their hijos to the most common value - 'independent'

In [41]:
hijos_verifier = userprofile.loc[:, ['marital_status']]
hijos = hijos_verifier.apply(lambda x: 'kids' if x.marital_status == 'married' else 'independent', axis=1)
# Fill the missing values in marital_status
userprofile.fillna({'hijos': hijos}, inplace=True)
userprofile.hijos.isnull().sum(0)

0

We don't directly see any other columns may have relevance to `activity`, so we can fill missing values with the most frequent value in `activity`

In [42]:
mode_activity = userprofile.activity.mode()[0]
userprofile.fillna({'activity': mode_activity}, inplace=True)
userprofile.activity.isnull().sum()

0

Check the correlation between `marital_status` and `dress_preference`

In [43]:
dm = userprofile.dropna(subset=['dress_preference']).loc[:, ['dress_preference', 'marital_status']]
a = dm.dress_preference.replace({'no preference': 0, 'formal': 1, 'informal': 2, 'elegant': 3})
b = dm.marital_status.replace({'single': 0, 'married': 1, 'widow': 2})
a.corr(b)

0.073900145277133

We don't directly see any other columns may have relevance to `dress_preference`, so we can fill missing values with the most frequent value in `dress_preference`

In [44]:
mode_dress = userprofile.dress_preference.mode()[0]
userprofile.fillna({'dress_preference': mode_dress}, inplace=True)
userprofile.dress_preference.isnull().sum()

0

Check the correlation between `marital_status` and `ambience`

In [45]:
am = userprofile.dropna(subset=['ambience']).loc[:, ['marital_status', 'ambience']]
a = am.ambience.replace({'family': 0, 'friends': 1, 'solitary': 2})
b = am.marital_status.replace({'single': 0, 'married': 1, 'widow': 2})
a.corr(b)

0.053166529799302066

We don't directly see any other columns may have relevance to `ambience`, so we can fill missing values with the most frequent value in `ambience`

In [46]:
mode_ambience = userprofile.ambience.mode()[0]
userprofile.fillna({'ambience': mode_ambience}, inplace=True)
userprofile.ambience.isnull().sum()

0

Similarly, we can fill missing values in `budget` and `transport` with the most frequent value

In [47]:
userprofile.fillna({'budget': userprofile.budget.mode()[0]}, inplace=True)
userprofile.fillna({'transport': userprofile.transport.mode()[0]}, inplace=True)
# Checking the missing values in userprofile
userprofile.isnull().sum()

userID              0
latitude            0
longitude           0
smoker              0
drink_level         0
dress_preference    0
ambience            0
transport           0
marital_status      0
hijos               0
birth_year          0
interest            0
personality         0
religion            0
activity            0
color               0
weight              0
budget              0
height              0
dtype: int64

In [48]:
# Describe userprofile
userprofile[['smoker', 'drink_level', 'dress_preference', 'ambience', 'transport', 'marital_status', 'hijos',
       'interest', 'personality', 'religion', 'activity', 'color','budget']].describe()

,smoker,drink_level,dress_preference,ambience,transport,marital_status,hijos,interest,personality,religion,activity,color,budget
count,138,138,138,138,138,138,138,138,138,138,138,138,138
unique,2,3,4,3,3,3,3,5,4,5,4,8,3
top,false,abstemious,no preference,family,public,single,independent,variety,hard-worker,Catholic,student,blue,medium
freq,112,51,58,76,89,123,121,50,61,99,120,45,98

In [49]:
# Checking duplicate values
userprofile.userID.duplicated().sum()

0

- **rating_final.csv**

In [50]:
# Checking for null value
rating_final.isnull().sum(0)

userID            0
placeID           0
rating            0
food_rating       0
service_rating    0
dtype: int64

In [73]:
# Checking duplicate values
rating_final.loc[:, ['userID', 'placeID']].duplicated().sum()

0

**2.1.3. What are the names of different restaurants in the state of tamaulipas?**

In [52]:
geoplaces2[geoplaces2.state == 'Tamaulipas']['name'].values

array(['Gorditas Dona Tota', 'churchs', 'tortas hawai',
       'tacos de la estacion', 'Carnitas Mata  Calle 16 de Septiembre',
       'TACOS CORRECAMINOS', 'la perica hamburguesa', 'TACOS EL GUERO',
       'tacos de barbacoa enfrente del Tec',
       'Carreton de Flautas y Migadas', 'puesto de gorditas',
       'Gorditas Dona Tota', 'tacos abi',
       'little pizza Emilio Portes Gil', 'Little Cesarz', 'carnitas_mata',
       'palomo tec', 'carnitas mata calle Emilio Portes Gil', 'vips',
       'Taqueria EL amigo ', 'Hamburguesas La perica',
       'Pollo_Frito_Buenos_Aires'], dtype=object)

**2.1.4. How many different customers used public transport for going to the restaurants?**

In [53]:
len(userprofile[userprofile.transport == 'public'])

89

**2.1.5. What is the least popular payment method among customers?**

In [54]:
payments = userpayment.Upayment.value_counts()
payments

cash                   131
bank_debit_cards        22
VISA                    17
MasterCard-Eurocard      4
American_Express         3
Name: Upayment, dtype: int64

In [55]:
# Get the last index, which is the result of the query
payments.index[-1]

'American_Express'

**2.1.6. How many (different) restaurants work until 19:00 in the evenings?**

In [56]:
len(chefmozhours4[chefmozhours4.hours.str.contains('-19:00;')]['placeID'].unique())

28

**2.1.7. Which type of food (rcuisine) is served most among the restaurants?**

In [57]:
chefmozcuisine.Rcuisine.mode()[0]

'Mexican'

**2.1.8. What is the percentage of customers who were born between 1980 and 1990?**

In [58]:
customers = userprofile[(userprofile.birth_year >= 1980) & (userprofile.birth_year <= 1990)]
print("{0}%".format(int(len(customers)*100/len(userprofile))))

63%

**2.1.9. What is the percentage of students with a medium budget preferring walking to the restaurants?**

In [59]:
students = userprofile[(userprofile.activity == 'student') & 
                       (userprofile.budget == 'medium') & 
                       (userprofile.transport == 'on foot')]
print("{0}%".format(int(len(students)*100/len(userprofile))))

5%

## Part 2

**2.2.1. What are the names of restaurants that do not have public parking lots?**

In [60]:
# Merge geoplaces2 and chefmozparking on placeID
restaurants = pd.merge(geoplaces2.loc[:, ['placeID', 'name']], chefmozparking, on='placeID')
# Find the restaurants that have public parking lots
restaurants2 = restaurants[restaurants.parking_lot == 'public']
restaurants2.sample(5)

     placeID                                name parking_lot
108   132706                  Gorditas Dona Tota      public
116   132594  tacos de barbacoa enfrente del Tec      public
99    135058                Restaurante Tiberius      public
74    135085              Tortas Locas Hipocampo      public
118   132560                  puesto de gorditas      public

The result of this query is the names of restaurants that have the placeID not in the restaurants2.placeID. With this way, we don't miss the restaurants that have public parking lots and also have other kinds of parking lot (maybe it's possible) from the result

In [61]:
restaurants[~restaurants.placeID.isin(restaurants2.placeID)]['name'].values

array(['El Oceano Dorado', 'Arrachela Grill', 'El cotorreo',
       'Restaurant los Pinos', 'Restaurant Bar Coty y Pablo',
       'Restaurant Familiar El Chino', 'Mikasa', 'Los Vikingos',
       'Kiku Cuernavaca', 'Log Yin', 'Giovannis', 'Paniroles',
       'McDonalds Centro', 'Sanborns Casa Piedra', 'Mariscos Tia Licha',
       'Restaurant Las Mananitas', 'Chilis Cuernavaca',
       'Restaurant Teely', 'Rincon del Bife', 'Vips',
       'Restaurant and Bar and Clothesline Carlos N Charlies',
       'Cenaduria El Rincn de Tlaquepaque', 'Restaurante la Cantina',
       'Hamburguesas Valle Dorado', 'Restaurante de Mariscos la Langosta',
       'sirloin stockade', 'Restaurant los Compadres', 'Potzocalli',
       'KFC', 'Sirlone', 'Mariscos El Pescador', 'dairy queen',
       'Abondance Restaurante Bar', 'Michiko Restaurant Japones',
       'Restaurante y Pescaderia Tampico', 'Chaires', 'Dominos Pizza',
       'Restaurante El Reyecito', 'Mcdonalds Parque Tangamanga',
       'Restaurant El Muladar de Calzada', 'Cafe Chaires',
       'Restaurant Wu Zhuo Yi', 'Restaurante Bar Fu-hao',
       'el lechon potosino ', 'Tortas y hamburguesas el gordo',
       'don burguers', 'tacos los volcanes', 'los Toneles',
       'Restaurant Bar Hacienda los Martinez', 'El Mundo de la Pasta',
       'Restaurant de Mariscos de Picon',
       'El Herradero Restaurante and Bar', 'La Virreina',
       'Restaurant Orizatlan', 'Restaurante Bar El Gallinero',
       'puesto de tacos', 'emilianos', 'Cabana Huasteca',
       'Preambulo Wifi Zone Cafe', 'Carls Jr', 'la Cantina',
       'la Cochinita Pibil Restaurante Yucateco', 'Sushi Itto',
       'El Rincon de San Francisco', 'El angel Restaurante',
       'El Rincn de San Francisco', 'shi ro ie', 'rockabilly ',
       'crudalia', 'La Posada del Virrey', 'Rincon Huasteco',
       'Restaurante Casa de las Flores', 'La Cantina Restaurante',
       'Luna Cafe', 'cafe punta del cielo', 'Restaurante la Gran Via',
       'Restaurante Versalles', 'Unicols Pizza', 'la Estrella de Dimas',
       'Restaurante 75', 'el pueblito', 'Restaurante El Cielo Potosino',
       'VIPS', 'Restaurante El Chivero S.A. de C.V.',
       'Restaurant la Chalita', 'Koye Sushi', 'Restaurante Alhondiga',
       'Restaurante Marisco Sam', 'Restaurant Oriental Express',
       'la parroquia', 'El Club', 'Restaurante Guerra',
       'Restaurante la Estrella de Dima',
       'La Fontana Pizza Restaurante and Cafe',
       'Restaurante Pueblo Bonito', 'pizza clasica', 'cafe ambar',
       'churchs', 'tacos de la estacion',
       'Carnitas Mata  Calle 16 de Septiembre', 'TACOS CORRECAMINOS',
       'la perica hamburguesa', 'TACOS EL GUERO',
       'Carreton de Flautas y Migadas', 'Gorditas Dona Tota', 'tacos abi',
       'little pizza Emilio Portes Gil', 'Little Cesarz', 'carnitas_mata',
       'palomo tec', 'carnitas mata calle Emilio Portes Gil', 'vips',
       'Taqueria EL amigo ', 'Pollo_Frito_Buenos_Aires'], dtype=object)

**2.2.2. What are the addresses of restaurants which only accept cash?**

In [62]:
# Merge geoplaces2 and chefmozaccepts on placeID
restaurants = pd.merge(geoplaces2.loc[:, ['placeID', 'address']], chefmozaccepts, on='placeID')
restaurants.head()

   placeID                                address             Rpayment
0   135018  Libramiento Burgos Colonia Las Animas                 cash
1   135018  Libramiento Burgos Colonia Las Animas                 VISA
2   135018  Libramiento Burgos Colonia Las Animas  MasterCard-Eurocard
3   135018  Libramiento Burgos Colonia Las Animas     bank_debit_cards
4   135016                        69 Tres De Mayo                 cash

In [63]:
# Drop all restaurants that have multiple payment methods, so we only have 
# restaurants that only accept one kind of payment remain
restaurants.drop_duplicates(subset=['placeID'], keep=False, inplace=True)
# Filter by Rpayment=cash
restaurants[restaurants.Rpayment == 'cash']['address'].values

array(['69 Tres De Mayo', 'Emiliano Zapata Col. Tres de Mayo',
       'Federal Mexico - Acapulco 10 3 de Mayo',
       'Interior Internado Palmira SN',
       'Himno nacional esq. Blvd. Juarez', '36 Sur Civac',
       '40 Norte Civac 1RA. Seccion', '40 Norte Civac 1RA. Seccion',
       'Lomas del Mirador',
       'Rio Mayo Colonia Vista Hermosa Esq. Rio Balsas',
       'Rio Mayo 17 Vista Hermosa', 'av. seminario', 'Av. Coral',
       'Cordillera de Los Alpes 675 Loma Verde', 'Carretera Central Sn',
       'Himno Nacional 2104 Tangamanga', 'Industrias 908 Valle Dorado',
       'Ricardo B. Anaya', 'Ricardo B. Anaya',
       'De Guadalupe 460 San Miguelito', 'Himno Nacional 100 Avenida',
       'circuito oriente esq. carretera 57', 'Ricardo B. Anaya',
       'r.b. anaya esq. florencia', 'Santos Degollado 745 los Alamitos',
       'Miguel Barragan 46 Centro',
       'esquina santos degollado y leon guzman', 'Cuauhtemoc 455',
       'Anahuac 805', 'agustin de iturbide', 'agustin de iturbide',
       'Venustiano Carranza 719 Centro', 'Francisco I. Madero 215',
       'Francisco I. Madero 215', 'Francisco I. Madero 145 Centro',
       'Plaza del Carmen', 'Villa de Pozos 192 Villa de Pozos',
       'Villa de Pozos 4497 Villa de Pozos', 'Av. de los Pintores',
       'Julian de Los Reyes 400 Centro', 'NICOLAS ZAPATA 300',
       'Guajardo Sn San Luis Potosi Centro', 'sevilla y olmedo 715 a',
       'Alhondiga 62 Centro', 'Ignacio Allende 785 Centro',
       'Tangamanga 7 Tangamanga',
       'Av. Saan Luis enttre moctezuma y salinas',
       '524 Soledad de Graciano Sanchez',
       'Zaragoza entre Francisco Zarco y Lopez Velarde',
       'Zaragoza entre Francisco Zarco y Lopez Velarde',
       '16 de Septiembre', '16 de Septiembre', 'frente al tecnologico',
       'frente al tecnologico', 'calle emilio portes gil',
       'lic. Emilio portes gil', 'Calle Mezquite Fracc Framboyanes',
       'cd. mier', 'tampico'], dtype=object)

**2.2.3. Name the cities where the restaurants cook and serve fast food?**

In [64]:
# Merge geoplaces2 and chefmozaccepts on placeID
restaurants = pd.merge(geoplaces2.loc[:, ['placeID', 'city']], chefmozcuisine, on='placeID')
# Filter by Rcuisine=Fast_Food before getting the unique value of city
restaurants[restaurants.Rcuisine == 'Fast_Food']['city'].unique()

array(['Cuernavaca', 'San Luis Potosi', 'Soledad', 'Ciudad Victoria'],
      dtype=object)

**2.2.4. What is the most common rating among customers with family?**

In [75]:
# Merge userprofile and rating_final on userID
customers = pd.merge(userprofile.loc[:, ['userID', 'ambience']], 
                     rating_final.loc[:, ['userID', 'rating']], on='userID')
# Get the most common 'rating'
customers[customers.ambience == 'family']['rating'].mode()[0]

2

**2.2.5. What types of food (rcuisine) received the highest rank from people with low budget?**

In [66]:
# Merge rating_file and userprofile on userID
customers = pd.merge(userprofile.loc[:, ['userID', 'budget']], 
                     rating_final.loc[:, ['userID', 'placeID', 'food_rating']], on='userID')
# Filter customers with 'low' budget
customers = customers[customers.budget == 'low']
# Merge customers and chefmozcuisine on placeID
rating = pd.merge(customers, chefmozcuisine, on='placeID')
# Find the types of food received a food_rating=2 (highest) from 'low' budget people
rating[rating.food_rating == 2].Rcuisine.unique()

array(['Bar', 'Mexican', 'International', 'Fast_Food', 'Seafood',
       'Cafeteria', 'Chinese', 'Pizzeria', 'Contemporary', 'Bakery',
       'Burgers', 'American', 'Game', 'Japanese', 'Bar_Pub_Brewery',
       'Vietnamese'], dtype=object)

**2.2.6. What is the average of service rating, received from social drinkers about restaurants which just served Wine-Beer?**

In [67]:
# Filter restaurants which just served 'Wine-Beer'
restaurants = geoplaces2[geoplaces2.alcohol == 'Wine-Beer']
# Filter customers who are 'social drinker'
customers = userprofile[userprofile.drink_level == 'social drinker']
# Merge restaurants, customers and rating_final
rating = pd.merge(restaurants.loc[:, ['placeID', 'alcohol']], 
                  rating_final.loc[:, ['placeID', 'userID', 'service_rating']], on='placeID')
rating = pd.merge(rating, customers.loc[:, ['userID', 'drink_level']], on='userID')
# Calculate the average of 'service_rating'
rating.service_rating.mean()

1.3863636363636365

**2.2.7. How many smokers gave zero service rating to the restaurants without an open area?**

In [68]:
# Filter smokers
customers = userprofile[userprofile.smoker == 'true']
# Filter the restaurants without an open area
restaurants = geoplaces2[geoplaces2.area != 'open']
# Merge restaurants, customers and rating_final
rating = pd.merge(restaurants.loc[:, ['placeID', 'area']], 
                  rating_final.loc[:, ['placeID', 'userID', 'service_rating']], on='placeID')
rating = pd.merge(rating, customers.loc[:, ['userID', 'smoker']], on='userID')
# Find the number of smokers gave service_rating=0
len(rating[rating.service_rating == 0]['userID'].unique())

15

**2.2.8. Find the correlation between different rating categories ((general) rating, food_rating, service_rating) with the price levels of the
restaurants.**

In [69]:
# Merge the restaurants and rating_final
restaurants = geoplaces2.loc[:, ['placeID', 'price']]
correlation = pd.merge(rating_final, restaurants, on='placeID')
# Get columns 'rating', 'food_rating', 'service_rating' and 'price' only
correlation = correlation.loc[:, ['rating', 'food_rating', 'service_rating', 'price']]
correlation.sample(10)

      rating  food_rating  service_rating   price
1123       1            1               1  medium
696        0            2               0  medium
412        2            2               2  medium
763        0            0               0     low
339        0            0               0  medium
1049       1            1               1  medium
898        1            1               1    high
824        1            2               1    high
984        0            0               0     low
62         1            2               0     low

Maybe the low price restaurants will have higher ratings?

In [70]:
c = correlation.copy()
c.price.replace({'low': 2, 'medium': 1, 'high': 0}, inplace=True)
c.corr()

                  rating  food_rating  service_rating     price
rating          1.000000     0.714855        0.690757 -0.090745
food_rating     0.714855     1.000000        0.647177 -0.051081
service_rating  0.690757     0.647177        1.000000 -0.118696
price          -0.090745    -0.051081       -0.118696  1.000000

Maybe the medium price restaurants can balance the quality both in food, services and general so they can get the highest ratings?

In [71]:
c = correlation.copy()
c.price.replace({'low': 1, 'medium': 2, 'high': 0}, inplace=True)
c.corr()

                  rating  food_rating  service_rating     price
rating          1.000000     0.714855        0.690757  0.024884
food_rating     0.714855     1.000000        0.647177  0.026627
service_rating  0.690757     0.647177        1.000000  0.036206
price           0.024884     0.026627        0.036206  1.000000

---
---

**Store the cleaned data frames to use in Assignment 3**

In [72]:
%store chefmozaccepts
%store chefmozcuisine
%store chefmozhours4
%store chefmozparking
%store geoplaces2
%store usercuisine
%store userpayment
%store userprofile
%store rating_final

Stored 'chefmozaccepts' (DataFrame)
Stored 'chefmozcuisine' (DataFrame)
Stored 'chefmozhours4' (DataFrame)
Stored 'chefmozparking' (DataFrame)
Stored 'geoplaces2' (DataFrame)
Stored 'usercuisine' (DataFrame)
Stored 'userpayment' (DataFrame)
Stored 'userprofile' (DataFrame)
Stored 'rating_final' (DataFrame)